USE [master]
GO
/****** Object:  Database [EcommerseDB]    Script Date: 7.04.2019 05:35:56 ******/
CREATE DATABASE [EcommerseDB] ON  PRIMARY 
( NAME = N'EcommerseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EcommerseDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EcommerseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EcommerseDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcommerseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [LAPTOP-TJKTDNGM\Lenovo]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [LAPTOP-TJKTDNGM\Lenovo] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'u6ôÍWåj¿ÀYÀùSzsÄõëîÕªóÂñ±é', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 7.04.2019 05:35:56 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'ðºtÍ²Öü%é¦Ð´Bë~æÿa2´4Òfd6', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
EXEC sys.sp_addsrvrolemember @loginame = N'NT Service\MSSQLSERVER', @rolename = N'sysadmin'
GO
EXEC sys.sp_addsrvrolemember @loginame = N'NT SERVICE\Winmgmt', @rolename = N'sysadmin'
GO
EXEC sys.sp_addsrvrolemember @loginame = N'NT SERVICE\SQLWriter', @rolename = N'sysadmin'
GO
EXEC sys.sp_addsrvrolemember @loginame = N'LAPTOP-TJKTDNGM\Lenovo', @rolename = N'sysadmin'
GO
USE [EcommerseDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.04.2019 05:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[adminEmail] [nvarchar](40) NULL,
	[adminSifre] [nvarchar](30) NULL,
	[duyuru] [nvarchar](max) NULL,
	[adminAd] [nvarchar](max) NULL,
	[duyuruGoster] [int] NOT NULL DEFAULT ((0)),
	[uyeKayitSayi] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.tblAdmin] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblFavorites]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFavorites](
	[favoriID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciID_kullaniciID] [int] NULL,
	[urunID_urunID] [int] NULL,
 CONSTRAINT [PK_dbo.tblFavorites] PRIMARY KEY CLUSTERED 
(
	[favoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblIstatistik]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIstatistik](
	[istatistikID] [int] IDENTITY(1,1) NOT NULL,
	[ziyaretTarih] [datetime] NULL,
 CONSTRAINT [PK_dbo.tblIstatistik] PRIMARY KEY CLUSTERED 
(
	[istatistikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKategori]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKategori](
	[kategoriID] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAd] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.tblKategori] PRIMARY KEY CLUSTERED 
(
	[kategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKullanici]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKullanici](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAd] [nvarchar](40) NULL,
	[kullaniciSoyAd] [nvarchar](40) NULL,
	[email] [nvarchar](40) NULL,
	[kullaniciSifre] [nvarchar](30) NULL,
	[Adres] [nvarchar](70) NULL,
	[Country] [nvarchar](70) NULL,
	[memberSince] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.tblKullanici] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSatinAlmaGecmis]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSatinAlmaGecmis](
	[satinAlmaID] [int] IDENTITY(1,1) NOT NULL,
	[satinAlmaTarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[odenenTutar] [decimal](18, 2) NOT NULL,
	[kullaniciID_kullaniciID] [int] NULL,
	[urunID_urunID] [int] NULL,
 CONSTRAINT [PK_dbo.tblSatinAlmaGecmis] PRIMARY KEY CLUSTERED 
(
	[satinAlmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSepet]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSepet](
	[sepetID] [int] IDENTITY(1,1) NOT NULL,
	[urunAdet] [int] NULL,
	[urunID_urunID] [int] NULL,
	[kullaniciID_kullaniciID] [int] NULL,
 CONSTRAINT [PK_tblSepet] PRIMARY KEY CLUSTERED 
(
	[sepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUrun]    Script Date: 7.04.2019 05:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrun](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunAd] [nvarchar](30) NULL,
	[urunFiyat] [decimal](18, 2) NOT NULL,
	[urunStok] [int] NOT NULL,
	[urunAciklama] [nvarchar](150) NULL,
	[indirimYuzde] [int] NOT NULL,
	[imageUrl] [nvarchar](max) NULL,
	[kategoriID_kategoriID] [int] NULL,
	[sepetAdet] [int] NOT NULL DEFAULT ((0)),
	[satisAdet] [int] NOT NULL DEFAULT ((0)),
	[isCheap] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.tblUrun] PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAdmin] ON 

INSERT [dbo].[tblAdmin] ([adminID], [adminEmail], [adminSifre], [duyuru], [adminAd], [duyuruGoster], [uyeKayitSayi]) VALUES (5, N'as@hotmail.com', N'1234', N'merhaba', N'firat', 1, 0)
SET IDENTITY_INSERT [dbo].[tblAdmin] OFF
SET IDENTITY_INSERT [dbo].[tblFavorites] ON 

INSERT [dbo].[tblFavorites] ([favoriID], [kullaniciID_kullaniciID], [urunID_urunID]) VALUES (33, 1, 3)
INSERT [dbo].[tblFavorites] ([favoriID], [kullaniciID_kullaniciID], [urunID_urunID]) VALUES (36, 1, 64)
SET IDENTITY_INSERT [dbo].[tblFavorites] OFF
SET IDENTITY_INSERT [dbo].[tblIstatistik] ON 

INSERT [dbo].[tblIstatistik] ([istatistikID], [ziyaretTarih]) VALUES (92, CAST(N'2019-04-05 14:49:14.693' AS DateTime))
INSERT [dbo].[tblIstatistik] ([istatistikID], [ziyaretTarih]) VALUES (93, CAST(N'2019-04-04 00:00:00.000' AS DateTime))
INSERT [dbo].[tblIstatistik] ([istatistikID], [ziyaretTarih]) VALUES (94, CAST(N'2019-03-04 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblIstatistik] OFF
SET IDENTITY_INSERT [dbo].[tblKategori] ON 

INSERT [dbo].[tblKategori] ([kategoriID], [kategoriAd]) VALUES (1, N'Electronic')
INSERT [dbo].[tblKategori] ([kategoriID], [kategoriAd]) VALUES (2, N'Clothing')
INSERT [dbo].[tblKategori] ([kategoriID], [kategoriAd]) VALUES (3, N'Office')
SET IDENTITY_INSERT [dbo].[tblKategori] OFF
SET IDENTITY_INSERT [dbo].[tblKullanici] ON 

INSERT [dbo].[tblKullanici] ([kullaniciID], [kullaniciAd], [kullaniciSoyAd], [email], [kullaniciSifre], [Adres], [Country], [memberSince]) VALUES (1, N'Fırat', N'Tunç', N'as', N'1234', N'Turasf', N'asf', CAST(N'2019-03-23 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblKullanici] OFF
SET IDENTITY_INSERT [dbo].[tblSatinAlmaGecmis] ON 

INSERT [dbo].[tblSatinAlmaGecmis] ([satinAlmaID], [satinAlmaTarih], [Adet], [odenenTutar], [kullaniciID_kullaniciID], [urunID_urunID]) VALUES (55, CAST(N'2019-04-05 14:53:30.697' AS DateTime), 1, CAST(7000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[tblSatinAlmaGecmis] ([satinAlmaID], [satinAlmaTarih], [Adet], [odenenTutar], [kullaniciID_kullaniciID], [urunID_urunID]) VALUES (56, CAST(N'2019-04-05 14:54:19.047' AS DateTime), 11, CAST(77000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[tblSatinAlmaGecmis] ([satinAlmaID], [satinAlmaTarih], [Adet], [odenenTutar], [kullaniciID_kullaniciID], [urunID_urunID]) VALUES (57, CAST(N'2019-04-05 14:54:19.047' AS DateTime), 1, CAST(3000.00 AS Decimal(18, 2)), 1, 5)
SET IDENTITY_INSERT [dbo].[tblSatinAlmaGecmis] OFF
SET IDENTITY_INSERT [dbo].[tblUrun] ON 

INSERT [dbo].[tblUrun] ([urunID], [urunAd], [urunFiyat], [urunStok], [urunAciklama], [indirimYuzde], [imageUrl], [kategoriID_kategoriID], [sepetAdet], [satisAdet], [isCheap]) VALUES (1, N'Lenovo Idepad 520', CAST(7000.00 AS Decimal(18, 2)), 28, N'Lenovo Ideapad 520-15IKB Intel Core i7 8550U 12GB 1TB MX150 Freedos 15.6" FHD Taşınabilir Bilgisayar 81BF00BVTX', 10, N'https://productimages.hepsiburada.net/s/17/552/9782167306290.jpg?v1', 1, 12, 12, 0)
INSERT [dbo].[tblUrun] ([urunID], [urunAd], [urunFiyat], [urunStok], [urunAciklama], [indirimYuzde], [imageUrl], [kategoriID_kategoriID], [sepetAdet], [satisAdet], [isCheap]) VALUES (3, N'Hyperx Cloud 2', CAST(800.00 AS Decimal(18, 2)), 36, N'Kingston HyperX Cloud II Oyuncu Kırmızı Kulaküstü Kulaklık KHX-HSCP-RD', 50, N'https://productimages.hepsiburada.net/s/11/552/8938482303026.jpg?v1', 1, 0, 0, 0)
INSERT [dbo].[tblUrun] ([urunID], [urunAd], [urunFiyat], [urunStok], [urunAciklama], [indirimYuzde], [imageUrl], [kategoriID_kategoriID], [sepetAdet], [satisAdet], [isCheap]) VALUES (5, N'Vestel LED TV', CAST(3000.00 AS Decimal(18, 2)), 0, N'Vestel 43UD8360 43" 108 cm Uydu Alıcılı 4K Ultra HD Smart LED TV', 10, N'https://productimages.hepsiburada.net/s/24/552/10087818330162.jpg?v1', 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[tblUrun] OFF
/****** Object:  Index [IX_kullaniciID_kullaniciID]    Script Date: 7.04.2019 05:35:57 ******/
CREATE NONCLUSTERED INDEX [IX_kullaniciID_kullaniciID] ON [dbo].[tblFavorites]
(
	[kullaniciID_kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_urunID_urunID]    Script Date: 7.04.2019 05:35:57 ******/
CREATE NONCLUSTERED INDEX [IX_urunID_urunID] ON [dbo].[tblFavorites]
(
	[urunID_urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_kullaniciID_kullaniciID]    Script Date: 7.04.2019 05:35:57 ******/
CREATE NONCLUSTERED INDEX [IX_kullaniciID_kullaniciID] ON [dbo].[tblSatinAlmaGecmis]
(
	[kullaniciID_kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_urunID_urunID]    Script Date: 7.04.2019 05:35:57 ******/
CREATE NONCLUSTERED INDEX [IX_urunID_urunID] ON [dbo].[tblSatinAlmaGecmis]
(
	[urunID_urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_kategoriID_kategoriID]    Script Date: 7.04.2019 05:35:57 ******/
CREATE NONCLUSTERED INDEX [IX_kategoriID_kategoriID] ON [dbo].[tblUrun]
(
	[kategoriID_kategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFavorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblFavorites_dbo.tblKullanici_kullaniciID_kullaniciID] FOREIGN KEY([kullaniciID_kullaniciID])
REFERENCES [dbo].[tblKullanici] ([kullaniciID])
GO
ALTER TABLE [dbo].[tblFavorites] CHECK CONSTRAINT [FK_dbo.tblFavorites_dbo.tblKullanici_kullaniciID_kullaniciID]
GO
ALTER TABLE [dbo].[tblFavorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblFavorites_dbo.tblUrun_urunID_urunID] FOREIGN KEY([urunID_urunID])
REFERENCES [dbo].[tblUrun] ([urunID])
GO
ALTER TABLE [dbo].[tblFavorites] CHECK CONSTRAINT [FK_dbo.tblFavorites_dbo.tblUrun_urunID_urunID]
GO
ALTER TABLE [dbo].[tblSatinAlmaGecmis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblSatinAlmaGecmis_dbo.tblKullanici_kullaniciID_kullaniciID] FOREIGN KEY([kullaniciID_kullaniciID])
REFERENCES [dbo].[tblKullanici] ([kullaniciID])
GO
ALTER TABLE [dbo].[tblSatinAlmaGecmis] CHECK CONSTRAINT [FK_dbo.tblSatinAlmaGecmis_dbo.tblKullanici_kullaniciID_kullaniciID]
GO
ALTER TABLE [dbo].[tblSatinAlmaGecmis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblSatinAlmaGecmis_dbo.tblUrun_urunID_urunID] FOREIGN KEY([urunID_urunID])
REFERENCES [dbo].[tblUrun] ([urunID])
GO
ALTER TABLE [dbo].[tblSatinAlmaGecmis] CHECK CONSTRAINT [FK_dbo.tblSatinAlmaGecmis_dbo.tblUrun_urunID_urunID]
GO
ALTER TABLE [dbo].[tblSepet]  WITH CHECK ADD  CONSTRAINT [FK_tblSepet_tblKullanici] FOREIGN KEY([kullaniciID_kullaniciID])
REFERENCES [dbo].[tblKullanici] ([kullaniciID])
GO
ALTER TABLE [dbo].[tblSepet] CHECK CONSTRAINT [FK_tblSepet_tblKullanici]
GO
ALTER TABLE [dbo].[tblSepet]  WITH CHECK ADD  CONSTRAINT [FK_tblSepet_tblUrun] FOREIGN KEY([urunID_urunID])
REFERENCES [dbo].[tblUrun] ([urunID])
GO
ALTER TABLE [dbo].[tblSepet] CHECK CONSTRAINT [FK_tblSepet_tblUrun]
GO
ALTER TABLE [dbo].[tblUrun]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblUrun_dbo.tblKategori_kategoriID_kategoriID] FOREIGN KEY([kategoriID_kategoriID])
REFERENCES [dbo].[tblKategori] ([kategoriID])
GO
ALTER TABLE [dbo].[tblUrun] CHECK CONSTRAINT [FK_dbo.tblUrun_dbo.tblKategori_kategoriID_kategoriID]
GO
USE [master]
GO
