@using E_Commerse.ViewModels.Home;
@model HomePageModel


@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Duyurular </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link href="~/Content/AdminContent/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/vendor/linearicons/style.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />

    <!-- MAIN CSS -->
    <link href="~/Content/AdminContent/css/main.css" rel="stylesheet" />
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link href="~/Content/AdminContent/css/demo.css" rel="stylesheet" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/AdminContent/img/favicon.png">

</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><img alt="Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left"></form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>@Model.admin.adminAd</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                @using (Html.BeginForm())
                                {

                                    <li><button style="width:200px;height:50px;background-color:white;color:black;" name="btnLogout"><i class="lnr lnr-exit"></i> <span>Logout</span></button></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/Admin/AdminIndex" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="/Admin/AdminNotification" class="active"><i class="lnr lnr-alarm"></i> <span>Duyuru</span></a></li>
                        <li>
                            <a href="/Admin/AdminKategori" class="">Kategori Ekle</a>
                        </li>
                        <li>
                            <a href="/Admin/AdminUrun" class="">Ürün Ekle</a>
                        </li>
                        <li>
                            <a href="/Admin/AdminPromosyon" class="">Promosyon Belirle</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Notifications</h3>
                    <div id="toastr-demo" class="panel">
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextArea("txtDuyuru", null, new { @class = "btn btn-warning ", @dataerror = "Email field is required", @required = "" })
                                    </div>
                                </div>
                                <div class="row">
                                    <button name="btnDuyur" style="margin-left:14px;" class=" btn btn-success" type="submit">Duyur</button>
                                </div>


                                <br />


                                <h4>Durum</h4>














                            }
                            @using (Html.BeginForm())
                            {
                                if (Model.admin.duyuruGoster == 1)
                                {
                                    <p class="success">Aktif</p>
                                }
                                else
                                {
                                    <p class="success">Pasif</p>

                                }
                                <button name="btnDegistir" class="btn btn-success" type="submit">Değiştir</button>
                            }




                        </div></div></div></div><!-- END MAIN CONTENT --></div><!-- END MAIN --><div class="clearfix"></div><footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer></div><!-- END WRAPPER --><!-- Javascript --><script src="~/Content/AdminContent/vendor/jquery/jquery.min.js"></script><script src="~/Content/AdminContent/vendor/bootstrap/js/bootstrap.min.js"></script><script src="~/Content/AdminContent/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script><script src="~/Content/AdminContent/vendor/jquery.easy-pie-chart/easypiechart.min.js"></script><script src="~/Content/AdminContent/vendor/chartist/js/chartist.min.js"></script><script src="~/Content/AdminContent/scripts/klorofil-common.js"></script>    </body></html>