@using E_Commerse.ViewModels.Home;
@model HomePageModel
@{
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-Commerse | About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Normalize CSS -->
    <link href="~/Content/css/normalize.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/Content/css/main.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animate CSS -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />

    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Owl Caousel CSS -->
    <link href="~/Scripts/vendor/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Main Menu CSS -->
    <link href="~/Content/css/meanmenu.min.css" rel="stylesheet" />

    <!-- Datetime Picker Style CSS -->
    <link href="~/Content/css/jquery.datetimepicker.css" rel="stylesheet" />

    <!-- ReImageGrid CSS -->
    <link href="~/Content/css/reImageGrid.css" rel="stylesheet" />

    <!-- Switch Style CSS -->
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" />

    <!-- Modernizr Js -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <style>
        .inner-banner-area {
            background-image: url("/Content/img/main-banner2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #preloader {
            background: #ffffff url('/Content/img/preloader.gif') no-repeat scroll center center;
            height: 100%;
            left: 0;
            overflow: visible;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999999;
        }

        .sidebar-categories-list li:before {
            display: none;
        }

        .user-account-info ul li:before {
            display: none;
        }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Main Body Area Start Here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->

        <!-- Main Banner 1 Area End Here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="pagination-area bg-secondary">
            <div class="container">
                <div class="pagination-wrapper">
                    <ul>
                        <li><a href="~/Home/Index">Home</a><span> -</span></li>
                        <li>Error Page</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Page Error Area Start Here -->
        <div class="page-error-area bg-secondary section-space-bottom">
            <div class="container">
                <h2 class="title-section">Error Page</h2>
                <div class="page-error-top">
                    <img src="~/Content/img/404.png" alt="404" class="img-responsive">
                    <p>Sorry Page Was Not Found</p>
                    <div class="page-error-bottom">
                        <p>The page you are looking is not available or has been removed.</p>
                        <p>Try going to Home Page by using the button below.</p>
                        <a href="~/Home/Index" class="default-btn">Go To Home Page</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Error Area End Here -->
       
    </div>
    <!-- Main Body Area End Here -->
    <!-- jquery-->
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>

    <!-- Plugins js -->
    <script src="~/Scripts/plugins.js"></script>

    <!-- Bootstrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- WOW JS -->
    <script src="~/Scripts/wow.min.js"></script>

    <!-- Owl Cauosel JS -->
    <script src="~/Scripts/vendor/OwlCarousel/owl.carousel.min.js"></script>

    <!-- Meanmenu Js -->
    <script src="~/Scripts/jquery.meanmenu.min.js"></script>

    <!-- Srollup js -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>

    <!-- jquery.counterup js -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>

    <!-- Isotope js -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>

    <!-- Gridrotator js -->
    <script src="~/Scripts/jquery.gridrotator.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
